* {
    font-family: Verdana Arial sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes bgcolor {
    0% {
        background-color: #0B173B
    }

    30% {
        background-color: #04B4AE
    }

    40% {
        background-color: #084B8A
    }

    60% {
        background-color: #2E2EFE
    }

    90% {
        background-color: #9A2EFE
    }

    100% {
        background-color: #6A0888
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header img {
    margin-top: 20px;
    border-radius: 8px;
}
